aiohttp
langchain
langchain-community
httpx==0.27.2
fastapi
requests
qdrant-client
langserve[all]
pydantic
langchainhub
langfuse==2.60.7
openai
tiktoken
beautifulsoup4
langchain-openai
langchain-ollama
langchain-google-vertexai
langchain-google-genai
langgraph-checkpoint==2.0.26
langgraph
falkordb
pandas
nemoguardrails
ragas